:root {
    --md-primary: #3700B3;
    --md-background: #121212;
    --md-foreground: #FFFFFF;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: var(--md-background);
    color: var(--md-foreground);
}

.container {
    padding-top: 48px;
}

.name {
    font-weight: bold;
}

.bio {
    font-weight: 400;
}

.github-chart img {
    max-width: 100%;
}

.avatar-box {
    text-align: center;
}

.avatar-box img {
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
}

.subtitle {
    text-align: center;
    font-weight: 100;
}

.card {
    margin-top: 4px;
    background-color: var(--md-background);
    opacity: 0.95;
    border: 1px solid #CACACA;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-toggler {
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

.theme-toggler .mdi {
    font-size: 36px;
}

.text-center {
    text-align: center;
}

.contact-me .mdi {
    font-size: 48px;
}

a, a:hover {
    text-decoration: none;
}
